<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- <style>
    .header-container {
      width: 100%;
      background-color: #157878;
    }
  </style> -->
  <!-- Google tag (gtag.js) -->
  <title>{{ site.name }} - {{ site.description }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <link rel="icon" href="favicon.ico" type="favicon.ico">
  <link rel="shortcut icon" href="favicon.ico" type="favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  {% include head-custom.html %}
</head>

<style>
  #header {
    a:link {
      color: white;
      background-color: transparent;
      text-decoration: underline;
    }
    a:visited {
      color: white;
      background-color: transparent;
      text-decoration: underline;
    }
    a:hover {
      color: black;
      background-color: transparent;
      text-decoration: underline;
    }
    a:active {
      color: black;
      background-color: transparent;
      text-decoration: underline;
    }
  }
  </style>

<header class="page-header" role="banner">
  <div class="header-container">
    <table id="header" style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
      <tr style="padding:0px">
        <td style="padding:2.5%;width:60%;vertical-align:middle">
          <h1>
            Mahyar Gohari
          </h1>
          <p style="text-align: justify;">I am a computer vision researcher currently pursuing a PhD at the <a href="https://www.unibs.it/">University of Brescia</a>, in the Departmetnt of <a href="https://drii.unibs.it/">Information Engineering</a>, where I work on multimedia forensics under the supervision of Professor <a href="https://www.unibs.it/en/ugov/person/1906">Nicola Adami</a>.
          </p>
          <p style="text-align:center">
            <a target="_blank" href="mailto:{{site.footer-links.email}}" class="btn"> Email</a>
            <a href={{site.footer-links.CV}} class="btn">CV</a>
            <a href={{site.footer-links.github}} class="btn">GitHub</a>
            <a href={{site.footer-links.linkedin}} class="btn"> LinkedIn </a>
          </p>
        </td>
        <td style="padding:2.5%;width:40%;max-width:40%">
          <img style="width:100%;max-width:100%" alt="profile photo" src={{site.avatar}}>
        </td>
      </tr>
    </table>
  </div>
  <!-- <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
  <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
  {% if site.github.is_project_page %}
    <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
    <a href="https://doi.org/10.5281/zenodo.10695885" class="btn">View the Dataset</a>
  {% endif %}
  {% if site.show_downloads %}
    <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
    <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
  {% endif %} -->
</header>

<body>  
  <table class="top-section" style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p style="text-align: justify;">
                I'm interested in computer vision, signal processing, and machine learning.
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle;text-align: justify;">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.paper %}
              <a href="{{post.paper}}">Paper</a> /
              {% endif %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arXiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">Video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">Code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">Poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">Slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">Website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">Youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endfor %}
        </table>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Source code from <a style="font-size:small;" href="https://leonidk.com/">Leonid Keselman</a>.
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

